

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap') */

 *, *::before, *::after{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    text-transform: none;
}

a {
    text-decoration: none;
}

/*Utilities*/
.d-container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 2rem;
}


body {
    font-size: 16px;
    background: #ffeaef;
}

.upperhd {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 2rem;
}

#hamburger {
    padding: 6px;
    background: palevioletred;
    width: 40px;
    height: 40px;
    border-radius:50% 50% 0 0;
    display: none;
    cursor: pointer;
}

#hamburger i {
    font-size: 20px;
}

.logo > img{
    height: 40px;
    border-radius: 50%;
    border: 4px solid pink;
}

.hdcontacts  p {
    font-size:15px;
    font-weight: bold;
    color: rgb(197, 70, 91);
} 


.hdcontacts {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 80px;
    margin-left: 110px;
}

.call-to-action {
    margin-top: 12px;

}

.call-to-action .head h3{
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}


.hbutton {
    cursor: pointer;
    background-color:palevioletred;
    border-radius: 12px;
    font-size: 15px;
    padding: 7px 14px;
    border: none;
}

 .menu {
     background-color: palevioletred;
     height: 3rem;
     padding: .4rem 0.4rem;
     border-radius: 6px;
     display: flex;
     align-items: center;
     justify-content: center;
 }
.menu a{
    text-decoration: none;
    font-size: 0.9rem;
    color: #fff;
    font-weight: bold;
    padding: 0.8rem 0.3rem;
    margin-right: 10px;
    text-transform: uppercase;
    transition: background 0.5s ease ;
}

.menu a:hover {
    border-radius: 4px;
    background: #9b5972;
}


.main {
    display:flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
    margin-top: 12px;
    padding: 2rem;
}

.cta {
    cursor: pointer;
    background-color:palevioletred;
    margin-top: 12px;
    border-radius: 6px;
    font-size: 15px;
    padding: 10px 14px;
    border: none;
}

.bpar {
    /*flex: 3;*/
}

.bpar .bpar-head h1{
    text-transform: capitalize;
    font-size: 2.2rem;
    color: palevioletred;
    margin-bottom: 0.2rem;
}

.bpar p {
    margin-top: 1.8rem;
    line-height: 1.5;
    font-size: 1.1rem;
}

.bimg img {
    position: relative;
    margin-left: 100px;
}

.bimg img::after {
    z-index: 99;
    content: 'sdf';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
}

.bimg img {
    width: 400px;
    z-index: -1;
}

 /* .button{
    cursor: pointer;
    background-color:palevioletred;
    border-radius: 19px;
    font-size: 15px;
    padding: 7px 14px;
    border: none;
    text-align: center;
} */
.bbutton
{
    padding-left: 8rem;
}
.bp p{
    font-size: 17px;
    text-align: center;
}
.head h3
{
    text-align: center;
    color:palevioletred ;
    margin-top: 50px;  
}
.bp {

}
.icon
{
color:palevioletred ;
font-size: 60px;
margin-left:270px ;


}
.service
{
    margin-top: 1px;
 margin-left:200px ; 
width: 200px;
height: 150px;
text-align: center; 
border:  2px solid pink;
border-radius: 1rem;

}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 2rem 0;
}

.card {

    background-color: pink;
    cursor: pointer;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding:1rem 0.8rem;
}

.card .top i{
    color: palevioletred;
    padding: 12px;
    font-size: 20px;
    border-radius: 50%;
    background: white;
}

.card .top h5 {
    text-transform: capitalize;
    margin: 6px 0;

}

.card .bottom p {
    text-transform: capitalize;
}

.all
{
  background-color: pink;  
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* padding-top: 1.5rem; */
  margin-right: 40px;
  padding-left: 30px;
  margin-top: 20px;

}
.all>h2{
    font-weight: bolder; 
    margin-bottom: 2.5rem;
}
.about {
text-align: center;
color:rgb(199, 10, 73) ;
text-transform: uppercase;
font-size: larger;


}

.face
{
    color: pink;
    font-size: large;
}

/*.container {*/
/*    max-width: 400px;*/
/*    margin: 20px auto;*/
/*    padding: 20px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius:  10px;*/
/*    background-color:palevioletred ;*/
/*    */

/*  }*/
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
margin-right: 25px;

  }
  
  label {
    display: block;
    margin-bottom: 5px;
    margin-right: 2px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 2px solid purple;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-left: 0.5px;
    background-color:purple;
    color: #fff;
    border: 1px;
    border-radius: 3px;
    cursor: pointer;
    
  }
  
  button:hover {
    background-color: #b30042;
  }
  .footer{
    border-top: 1px solid #b30042; 
  }
  .card
  {
    background: linear-gradient(100deg, rgb(255, 16, 180) 0%, rgb(143, 2, 98) 100%);
    
    /* opacity: 0.001?;? */
  }
  ul{
    list-style: none;
  }
    /* background-color:peru ; */

  ul li{
    display: inline-block;
    position: relative;
    
  }


 footer {
     margin-top: 20px;
     padding: 2rem;
 }

footer p {
    padding-top:5px;
}

 .footer-container {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

.footer-container nav ul li{
    display: block;
    color: purple;
}
.footer
{
    border-radius: 3px rgb(193, 94, 111);
}

.footer-container nav ul li.item {
    padding: 6px 0;
}

.footer-container nav ul li.sub-item {
    padding-left: 10px;
    transition: all 0.5s ease;
}

.footer-container nav ul li.dropdown-item {
    display: none;
}

.footer-container nav ul li.sub-item:hover {
    text-decoration: underline;
}

/*Pricing Page*/

.pricing-container {
    margin-top: 30px;
    width: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pricing-head {
    margin-top: 20px;
}

.pricing-head h1 {
    text-align: center;
}

.pricing-container .pricing-box {
    position: relative;
    height: 400px;
    width: 300px;
    padding: 2rem 1rem;
    border-radius: 10px;
    background: pink;
    z-index: 1;
    border: 2px solid #ff99c0;
}

.pricing-container .pricing-box ::before {
    z-index: -1;
    position: absolute;
    border-radius: 10px;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(100deg, rgba(98,3,98,1) 0%, rgba(219,112,147,1) 100%);
    opacity: 0.15;
}

.pricing-container .pricing-box .pricing-header {
    z-index: 2;
    color: #ffff;
}

.pricing-container .pricing-box .pricing-body {
    margin-top: 15px;
    width: 100%;
}

.pricing-container .pricing-box .pricing-body ul {
    padding: 4px;
    width: 100%;
}

.pricing-container .pricing-box .pricing-body ul li {
    display: block;
    background: none;
    padding: 4px 6px;
    font-size: 1.2rem;
    border-radius: 0;
    width: 100%;
    color: whitesmoke;
}

.pricing-container .pricing-box .pricing-body ul li:not(:first-child) {
    margin-top: 10px;
}

.pricing-container .pricing-box .pricing-body button {
    color: palevioletred;
    font-weight: bold;
    font-size: 18px;
    background: whitesmoke;
    margin-top: 120px;
    transition: all 0.5s ease-in ;
}

.pricing-container .pricing-box .pricing-body button:hover {
    border: 2px solid palevioletred;
}

/*End of Pricing*/

/*Register*/

.form-container {
    margin: 20px;
}

.form {
    padding: 12px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid palevioletred;
}

/*End of Register*/

/*Steps Page*/

.steps-container {
    margin-top: 20px;
}

.steps-container .steps {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.start-guide {
    display: flex;
    align-items: center;
    gap: 20px;
}

.steps-img h5 {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.steps-img img {
    width: 200px;
}

.start-guide .guide h5 {
    text-transform: capitalize;
}

/*steps Page End*/


@media only screen and (max-width: 992px) {
    .bpar {
        flex: 2;
    }
    .bimg {
        flex: 1;
    }

    .bimg img {
        margin-left: 50px;
    }

    .bpar .bpar-head h1 {
        font-size: 2rem;
    }

    .bpar p {
        font-size: 0.98rem;
        line-height: 1.2;
        letter-spacing: 0.6px;
    }

    .head h3 {
        font-size: 0.7rem;
    }

    .bp p{
        font-size: 15px;
    }



}

@media only screen and (max-width: 992px) {
    .main {
        flex-direction: column;
        text-align: center;
    }
    .bpar p {
        font-size: 0.98rem;
        line-height: 1.5;
        letter-spacing: 0.6px;
    }


    .cta {
        margin: 2rem auto;
        width: 200px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden !important;
    }
    .d-container {
        max-width: 600px;
        padding: 1.5rem;
    }

    .hdcontacts {
        gap: 30px;
        margin-left: 20px;
    }

    .cards {
        flex-direction: column;
    }

    .bimg img {
        width: 350px;
        margin: 0;
    }

    .main {
        margin-top: 0;
        padding-top: 0;
    }

    .hdcontacts {
        display: none;
    }

    .upperhd {
        justify-content: center;
        padding: 0 2rem;
        height: 60px;
    }

    .pricing-container {
        flex-direction: column;
    }

}

@media only screen and (max-width: 504px) {
    .menu {
        display: none;
        height: 220px;
        width: 300px;
        position: absolute;
        transition: all 0.2s ease;
        z-index: 9999;
    }

    .menu nav {
        display: flex;
        align-items: center;
        flex-flow: column;
    }

    #hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-container {
        flex-direction: column-reverse;
    }

    .start-guide {
        flex-direction: column-reverse;
    }

}